@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /*overflow: hidden;*/
  background-color: black;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

/* Hiding scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}


body {
  /*color: rgb(var(--foreground-rgb));*/
  /* background-image: url("../../public/images/bg-dark.png"); */
  /*backdrop-filter: blur(20px);*/
  background: black;
  background-size: cover;
  display: inline;
}

.backd {
  background-image: url("../public/images/ad.jpg");
  backdrop-filter: blur(50px);
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(20px); /* Adjust the blur amount as needed */
  z-index: -1; /* Place it behind the content */
  animation: moveBackground 20s linear infinite alternate; /* Define animation */
}

@keyframes moveBackground {
  0% {
    background-position: center top; /* Initial position */
  }
  100% {
    background-position: center bottom; /* Final position */
  }
}

.content-container {
  position: relative;
  z-index: 1; /* Ensure content is above the background */
}